.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

* {
  font-size: 1em;
  font-family: "Work Sans",sans-serif;
}

img {
  width: 30%;
  margin-bottom: 1%;
}

#drink-title {
  font-size: x-large;

}

.button-2 {
  background-color: rgb(0 0 0);
  border-radius: 25px;
  border-width: 7px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 48px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover {
  transition: 1s ease-in-out;
  background: #b5b1b1;
}

.button-2:hover svg {
  stroke-dashoffset: -480;
}

.button-2 span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

#navName {
  font-size: xxx-large;
}

#basic-nav-dropdown, #nav-dropdown-item {
  font-size: x-large;
}

#items-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drink-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  margin-bottom: 5%;
  width: 60%;
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
